nav {
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;
    width: 100%;
    background-color: rgb(188,81,72);
    a,li {
      text-decoration: none;
      list-style: none;
      color: inherit;
  }
    .container_top{
        margin: auto;
        width: 80%;
        display: flex;
        
        align-items: center;
        .Navbar{
            display: none;
        }
        ul{
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            padding: 0;
                    margin: 0;
            
                .login{
                    background-color: #f4b214;
                    height: 60px;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                    width: 40px;
                    padding: 0;
                    margin: 0;
                }
            
        }
        
        display: flex;
        justify-content: space-between;

        ul li  a i:hover {
            transition: 400ms;
            /* transform: translate(20px); */
            
            color: #ffffff; }
            ul li:hover {
                transition: 400ms;
                /* transform: translate(20px); */
                
                color: #ffffff; }
    }
    
}
@media only screen and (max-width: 768px) {
   
  }
.nav2 {
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;
    width: 100%;
    background-color: rgb(255,255,255);
    a,li {
      text-decoration: none;
      list-style: none;
      color: inherit;
  }
    .container_bottom{
        height: 100px;
        display: flex;
        margin: auto;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        .Navbar {
          background-color: #46ACC2;
          display: flex;
          padding: 16px;
          font-family: sans-serif;
          color: white;display: none;
        }
        
        .Navbar__Link {
          padding-right: 8px;display: none;
        }
        
        .Navbar__Items {
          display: flex;display: none;
        }
        
        .Navbar__Items--right {
          margin-left:auto;display: none;
        }
        
        .Navbar__Link-toggle {
          display: none;
        }
        div {
            h1 {
                letter-spacing: 5px;

            }
        }
        ul {
            display: flex;
            gap: 20px;
            .hom_{
              color:  rgb(188,81,72);
            }
        }
        
          
          
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
}
@media only screen and (max-width: 768px) {
    .nav2 {
        .container_bottom{
          
            ul {
                display: none;
              }
        }
      
    }
  }