*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #28293E;
    ;
}
li,a{
    text-decoration: none;
    list-style: none;
}

.resp{
   top: 60px;
   transition: 600ms;
z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  li{
      a{
          color: aliceblue;
          font-size: 40px;
      }
  }
}
.responsive{
    width: 100%;
    height: 100%;
    overflow: visible;
}
.header_bg{
    background-color: black;
}