* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #28293E;
}

li, a {
  text-decoration: none;
  list-style: none;
}

.resp {
  top: 60px;
  transition: 600ms;
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.resp li a {
  color: aliceblue;
  font-size: 40px;
}

.responsive {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.header_bg {
  background-color: black;
}

nav ul li a {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 32px;
  color: #f3f1f1;
  text-align: center;
}
nav .contact {
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}

main .modern_studio .left h3 {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  color: #EF6D58;
}
main .modern_studio .left h1 {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  width: 65%;
  color: #FFFFFF;
}
main .modern_studio .left p {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  width: 60%;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
main .modern_studio .left .button button {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .modern_studio .left .button p {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  color: #FFFFFF;
}
main .modern_studio .left .meta div p {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
main .modern_studio .left .meta div h6 {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 60px;
}
nav .contact {
  border: 1px solid #6d6a6a;
  border-radius: 6px;
  width: 108px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .bar {
  display: none;
}

@media screen and (max-width: 480px) {
  nav ul, nav .contact {
    display: none;
  }
  nav .bar {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .bar i {
    font-size: 30px;
    color: aliceblue;
  }
}
header {
  transition: 600ms;
  width: 100%;
  height: 100%;
  padding: 16px 60px;
}

@media screen and (max-width: 480px) {
  header {
    padding: 0 20px;
  }
}
main {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 40px;
}
main .modern_studio {
  width: 100%;
  display: flex;
  padding: 0 60px 0 60px;
}
main .modern_studio .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
}
main .modern_studio .left #star {
  position: absolute;
  right: 260px;
  top: 70px;
  width: 120px;
  z-index: -1;
}
main .modern_studio .left .button {
  display: flex;
  gap: 40px;
}
main .modern_studio .left .button button {
  background: #ef6d58;
  width: 100px;
  height: 34px;
  border: 0px;
  border-radius: 6px;
}
main .modern_studio .left .meta {
  display: flex;
  gap: 20px;
  align-items: center;
}
main .modern_studio .left .meta div {
  display: flex;
  flex-direction: column;
}
main .modern_studio .left .meta div p {
  width: 100%;
}
main .modern_studio .left .meta img {
  width: 40px;
  height: 40px;
}
main .modern_studio .right {
  width: 50%;
}
main .modern_studio .right img {
  width: 600px;
  height: 600px;
}
main .logos {
  padding: 60px 60px 0 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f2f2f2;
}
main .logos .bicmap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
main .logos .bicmap img {
  width: 100px;
  height: 40px;
}
main .logos .arrow {
  height: 1px;
  width: 100%;
  background-color: #f3d1bf;
}
main .about {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  background-color: #f2f2f2;
}
main .about .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
main .about .left img {
  width: 50%;
  height: 90%;
}
main .about .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .about .right #abt {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ef6d58;
}
main .about .right h3 {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 64px;
  color: #391400;
  width: 70%;
}
main .about .right h4 {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #391400;
}
main .about .right p {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: rgba(57, 20, 0, 0.64);
  width: 70%;
}
main .about .right button {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
  width: 100px;
  height: 34px;
  border: 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
main .experience {
  background-color: #f2f2f2;
  width: 100%;
  padding: 100px;
}
main .experience .bottom {
  padding-top: 120px;
  width: 100%;
  display: flex;
}
main .experience .bottom .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .experience .bottom .left #how {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  /* identical to box height, or 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
  /* Text_Dark_Accent */
  color: #ef6d58;
}
main .experience .bottom .left h6 {
  width: 80%;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 48px;
  /* or 120% */
  /* Text_Dark */
  color: #391400;
}
main .experience .bottom .left p {
  width: 80%;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  /* or 200% */
  /* Text_Dark_Gray */
  color: rgba(57, 20, 0, 0.64);
}
main .experience .bottom .left #read {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  /* identical to box height, or 200% */
  /* Text_Dark */
  color: #391400;
}
main .experience .bottom .right {
  width: 50%;
}
main .experience .bottom .right ul {
  display: flex;
  flex-direction: column;
}
main .experience .bottom .right ul li {
  display: flex;
  align-items: center;
  gap: 60px;
}
main .experience .bottom .right ul li #first {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 80px;
  /* identical to box height, or 111% */
  letter-spacing: -2px;
  color: #391400;
}
main .experience .bottom .right ul li #second {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* Text_Dark */
  color: #391400;
}
main .experience .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .experience .top #start {
  border-radius: 6px 0 0 6px;
  border-right: 0px;
}
main .experience .top #end {
  border-radius: 0 6px 6px 0;
  border-left: 0px;
}
main .experience .top div {
  display: flex;
  flex-direction: column;
  width: 34%;
  border: 1px solid #f3d1bf;
  padding: 45px 0 35px 40px;
}
main .experience .top div h5 {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 48px;
}
main .experience .top div p {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
}
main .edits .video {
  display: flex;
}
main .edits .video .left {
  width: 50%;
}
main .edits .video .left #scene {
  width: 60%;
}
main .edits .video .left #play {
  width: 40;
}
main .edits .video .right {
  width: 50%;
}

@media screen and (max-width: 480px) {
  main {
    padding-top: 60px;
  }
  main .modern_studio {
    flex-direction: column-reverse;
    padding: 0 20px 0 20px;
  }
  main .modern_studio .right {
    width: 100%;
  }
  main .modern_studio .right img {
    width: 100%;
    height: 100%;
  }
  main .modern_studio .left {
    width: 100%;
  }
  main .modern_studio .left h1 {
    width: 95%;
    font-size: 60px;
  }
  main .modern_studio .left p {
    width: 80%;
    font-size: 14px;
  }
  main .modern_studio .left .button {
    width: 100%;
    gap: 30px;
    padding-left: 40px;
  }
  main .modern_studio .left .button button {
    width: 150px;
    height: 40px;
  }
  main .modern_studio .left .button p {
    font-size: 14px;
  }
  main .logos {
    padding-top: 40px;
  }
  main .logos .bicmap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  main .logos .bicmap img {
    width: 120px;
  }
  main .about {
    padding: 60px 20px;
    flex-direction: column;
  }
  main .about .left {
    width: 100%;
  }
  main .about .right {
    width: 100%;
  }
  main .about .right h3 {
    width: 100%;
  }
  main .about .right p {
    width: 85%;
  }
}/*# sourceMappingURL=main.css.map */