.kate{
    max-width: 1440px;
    .caren{
        
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
           display: flex;
           gap: 60px;
        }
        .contact{
            border: 1px solid #6d6a6a;
            border-radius: 6px;
            width: 108px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .bar {
            display: none;
        }
           }
}



       @media screen and (max-width: 768px) {
        .kate{
            .caren{
           
                ul,.contact {
                 display: none;
                }
                .bar {
                 display: block;
                 width: 60px;
                 height: 60px;
                 border-radius: 5px;
                 border: 1px solid white;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 i{
                     font-size: 30px;
                     
                     color: aliceblue;
                 }
                }
         
         
               } 
        }
           }



main{
    .design_studio {
        max-width: 1440px;
        display: flex;
        padding: 0 60px 0 60px;


        .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            position: relative;

            h3 {
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 32px;
                color: #EF6D58;
            }

            h1 {
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
                line-height: 60px;
                width: 65%;
                color: #FFFFFF;
            }

            p {
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 300;
                font-size: 11px;
                letter-spacing: 1px;
                width: 60%;
                line-height: 32px;
                color: rgba(255, 255, 255, 0.64);

            }

            .button {
                button {
                    font-family: 'Epilogue';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 14px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

                p {
                    font-family: 'Epilogue';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 11px;
                  
                    color: #FFFFFF;
                }
            }

            .meta {
                div {
                    p {
                        font-family: 'Epilogue';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        letter-spacing: 1px;
                        line-height: 32px;
                        color: rgba(255, 255, 255, 0.64);

                    }

                    h6 {
                        font-family: 'Epilogue';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 32px;
                        color: #FFFFFF;
                    }
                }
            }

            #star {
                position: absolute;
                right: 260px;
                top: 70px;
                width: 120px;
                z-index: -1;
            }

            .button {
                display: flex;
                gap: 40px;

                button {
                    background: #EF6D58;
                    width: 100px;
                    height: 34px;
                    border: 0px;
                    border-radius: 6px;
                }
            }

            .meta {
                div {
                    display: flex;
                    flex-direction: column;

                    p {
                        width: 100%;
                    }

                }

                display: flex;
                gap: 20px;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .right {
            width: 50%;

            img {
                
                object-fit: cover;
            }
        }
    }


    .agency-p {
        max-width: 1440px;
        background-color: rgb(253, 240, 233);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-bottom: 100px;
        padding-top: 100px;
        .bottomb{
          p{
            //styleName: Text;
font-family: Epilogue;
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0px;
text-align: right;

          }
        }

        .top {
            
            max-width: 1440px;
            align-items: center;
            
            justify-content: center;
            
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align-last:center ;

            h5 {
                //styleName: H5;
                font-family: Epilogue;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 3px;
                text-align: left;
                color: #EF6D58;
            }

            h3 {
                
                //styleName: H3;
                font-family: Epilogue;
                font-size: 40px;
                font-weight: 800;
                line-height: 48px;
                letter-spacing: 0px;
                text-align: left;
                color: #391400;
                width: 70%;
            }
        }

        .bottom {
            max-width: 1440px;
            display: flex;
            justify-content: center;
            align-items: center;

            .box {
                border: 1px solid rgba(243, 209, 191, 1);
                border-radius: 5px;
                padding: 50px;
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 30px;

                .image {
                    width: 70px;
                    height: 70px;
                    position: relative;

                    .oval {
                        width: 70px;
                        position: absolute;
                        z-index: 0;
                    }

                    .shape {
                        position: absolute;
                        width: 25px;
                        left: 30%;
                        top: 30%;
                    }
                }

                h4 {
                    //styleName: H4;
                    font-family: Epilogue;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #391400;
                }

                p {
                    //styleName: Text;
                    width: 80%;
                    font-family: Epilogue;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: rgba(57, 20, 0, 0.64);
                }
                div{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    div{
                        align-items: center;
                        justify-content: center;
                        background-color: white;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }
                    .lrn {
                        //styleName: Text;
                        font-family: Epilogue;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: rgba(57, 20, 0, 1)
                    }
                }

                
            }
        }
    }

    .portfolio1 {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 100px;

        
        .category1{

            width: 100%;
            
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            display: none;
            gap: 30px;
            p{
                font-family: Epilogue;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0px;
                text-align: left;
                color: rgba(255, 255, 255, 0.64);
            }
        }
        .category2{
            display: flex;
        }

        div {
            h5 {
                //styleName: H5;
                font-family: Epilogue;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 3px;
                text-align: center;
                color: #EF6D58;
            }
        }
        .top{
            display: flex;
            align-items: flex-start;

            flex-direction: column;  
          .port {
          
                display: flex;
                justify-content: space-between;

                h2 {
                    //styleName: H2;
                    font-family: Epilogue;
                    font-size: 56px;
                    font-weight: 800;
                    line-height: 64px;
                    letter-spacing: -1px;
                    text-align: center;
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        

        .category {
            display: flex;
            justify-content: center;
            gap: 5%;

            p {
                //styleName: Text;
                font-family: Epilogue;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0px;
                text-align: left;
                color: rgba(255, 255, 255, 0.64);
            }
        }

        .main1 {
            width: 100%;
            display: flex;
            justify-content: center;
            border: 1px solid rgb(137,136,151);
            padding-top: 10px;
            padding-bottom: 10px;
            
            gap: 20px;

            .box1 {
                position: relative;
                width: 30%;
                height: 416px;
                border: 1px solid rgb(137,136,151);
                border-radius: 2px;

                

                img {
                    position: absolute;
                    z-index: 0;
                    width: 100%;
                    height: 416px;
                }

                button {height: 38px;
                    width: 84px;
                    left: 183px;
                    top: 6736px;
                    border-radius: 0px;
                    border: 0px solid white;
                    border-radius:20px ;
                    position: absolute;
                    top:  65%;
                    left: 10%;
                    
                    }

                h3 {//styleName: H3;
                    font-family: Epilogue;
                    font-size: 40px;
                    font-weight: 800;
                    line-height: 48px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                position: absolute;
                top:  80%;
                left: 10%;}
            }

            
        }

        
        .btn{display: flex;
            align-items: center;
            justify-content: center;
            button{
                height: 48px;
width: 170px;
left: 635px;
top: 7408px;
border-radius: 20px;
background-color: #0000;
border: 1px solid white;
font-family: Epilogue;
font-size: 14px;
font-weight: 900;
line-height: 14px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;

            }
        }
    }

    .about1 {
        width: 100%;
        max-width: 1440px;
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        background-color: rgb(253, 240, 233);

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            img {
                width: 60%;
            }
        }

        .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            #abt {
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #EF6D58;
            }

            h3 {
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 800;
                font-size: 50px;
                line-height: 64px;
                color: #391400;
                width: 70%;
            }

            h4 {
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 32px;
                color: #391400;
            }

            p {


                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                color: rgba(57, 20, 0, 0.64);
                width: 70%;
            }

            button {
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 14px;
                text-align: center;
                text-transform: uppercase;
                background: #FFFFFF;

                width: 100px;
                height: 34px;
                border: 0px;
                border-radius: 6px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }

    }
    .icoon{
        .container{
            .box{
            .box1{
                .iconCan{
                    padding: 10px;
                    background-color: #EF6D58;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    img{
                        width: 50px;
                    }
                }
            }
            .box2{}
            }
            
        }
    }
}

@media screen and (max-width: 768px) {
    main{
        .agency-p{
            
            .bottom{
                padding: 10px;
                flex-direction: column;
                .box{
                    width: 100%;
                }
            }
        }

        .design_studio {
            flex-direction: column-reverse;
            padding: 0 20px 0 20px;

            .right {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .left {
                width: 100%;

                h1 {
                    width: 95%;
                    font-size: 60px;
                }

                p {
                    width: 80%;
                    font-size: 14px;
                }

                .button {
                    width: 100%;
                    gap: 30px;
                    padding-left: 40px;

                    button {
                        width: 150px;
                        height: 40px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        .portfolio1{
            .main1{
                flex-direction: column;
                .box1{
                width: 100%;
                }
            }
        }

        .about1 {
            padding: 60px 20px;
            flex-direction: column;

            .left {
                width: 100%;
            }

            .right {
                width: 100%;

                h3 {
                    width: 100%;
                }

                p {
                    width: 85%;
                }
            }
        }
    }

}