header{
    max-width: 1400px;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: auto;
    background-color: white;
    nav{
        width: 80%;
        margin: auto;
        
        .astr1{
            margin-left: 20%;
        }
    }
}